body::after{
    content: "";
    background-image: url(../images/bg-pizza.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.content{
    border: 1px solid black;
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    height: 80vh;
    background-color: white;
    opacity: .8;
    border-radius: 55px;
}

.content h1{
    text-align: center;
}

.order-btn-container{
    display: flex;
    justify-content: center;
}

#btn-order{
    transform: scale(1.5);
    margin-top: 20px;
    background-color: antiquewhite;
    color: brown;
    padding: 10px 20px;
    border: 1px solid transparent;
}

#btn-order:hover{
 border: 1px solid blue;
}